.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.header-container-logo {
  width: 150px;
  margin-left: 30px;
}

header {
  width: 100%;
  /* background-color: red;  */
}

nav {
  margin-top: 15px;

  width: 800px;
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}

nav > button {
  height: 40px;
  font-size: 30px;
  background-color: transparent;
  color: white;
  border: none;
  font-family: "Great Vibes";
}

button:hover {
  cursor: pointer;
}
