.card{
    height: 450px;
    width: 350px;
    border: 0.5px solid rgb(201, 201, 201);
    border-radius: 15px;
    /* border-top-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    /* border-radius: 15px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 14px 14px 13px -1px rgba(212,212,212,1);
    transform: translateY(-10px);
    /* background: linear-gradient(to bottom, #f7ede8, #fcebe3); */
    transition: 0.5s;

}

.card-image{
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-bottom: 40px;
    height: 200px;
}

.card-image>img{
    height: 200px;
    width: 200px;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
}

.card-text>h1{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', Arial, sans-serif;
}

.card-text>h3{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', Arial, sans-serif;
}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button>button{
    width: 220px;
    height: 50px;
    border: solid black 0.5px;
    outline: none;
    color: #000000;
    background-color: transparent;
    /* background: #868686; */
    cursor: pointer;
    border-radius: 50px;
    font-size: 17px;

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

/* .button-img{
margin-left: -15px;
} */

.card-button>button:hover{
    color: #fff;
    background-color: #95f895;
    /* box-shadow: 0px 5px 6px 4px #8cff8c; */
    transition: 0.2s;
    border: none;
}

/* Animação Button  */
/* .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #868686;
    cursor: pointer;
    border-radius: 10px;
    font-size: 17px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #f5c3ff, #ffc7f3,#f1acff,#fca0ff,#ff74e8,#cc5fff,#d812ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #b9b9b9;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */