.message {
  height: 1800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
      to bottom,
      #fff3ed,
      #fff3ed00,
      #fff3ed00,
      #fff3ed00,
      #fff3ed00,
      #96969607
    ),
    url(../../assets/img/menssagem.png) no-repeat center/cover;
}

.message-container {
  border: solid #fff 2px;
  border-radius: 25px;
  height: 1600px;
  width: 70%;
  display: flex;
  justify-content: center;
}

.message-content {
  border-radius: 25px;
  height: 40%;
  width: 80%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1,
h3,
p {
  font-family: "Poppins", Arial, sans-serif;
}

.input {
  border: none;
  outline: none;
}

.message-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.message-title > h1 {
  font-weight: 400;
  color: white;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  color: #fff;
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin-bottom: 15px;
}

#name {
  background: transparent;
  height: 50px;
  width: 300px;
  border: solid 2px white;
  border-radius: 20px;
  color: #fff;
  margin-right: 30px;
  margin-left: -70px;
}

#email {
  background: transparent;
  height: 50px;
  width: 300px;
  border: solid 2px white;
  color: #fff;
  border-radius: 20px;
}

#message {
  background: transparent;
  height: 300px;
  width: 700px;

  color: #fff;
  border: solid 2px white;
  border-radius: 20px;
}

#subject {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;

  background: transparent;
  height: 300px;
  width: 700px;
}

::placeholder {
  color: #fff;
}
