.home {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(@/assets/img/home.png) no-repeat center/cover;
}

.home-title {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.home-title > h1 {
  font-family: "Great Vibes", Arial, sans-serif;
  font-weight: 400;
  font-size: 90px;
}
